[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
isort = "*"
tox = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest --verbose -s --cov=src ./tests"
black = "black ./"
blackcheck = "black --check ./"
mypy = "mypy --config mypy.ini"
isrot = "isort . -rc"
get = "python -m src.pydy get"
put = "python -m src.pydy put"

[pipenv]
allow_prereleases = true

[packages]
click = "*"
boto3 = "*"
